<!DOCTYPE html>
<html>
<head>
<base href=''>
<link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}style.css'>
<meta charset="UTF-8">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="Jason Ervin">
<title>{% block title %}{% endblock %}</title>
</head>
<body>
	{% block contact %}
		<div id='contact'>
			<a href='https://twitter.com/CalamityJason'><img src='{{ STATIC_URL }}media/twitter_circle_black-512.png' height='40px' width='40px'></a>
			<a href='http://www.linkedin.com/in/jasonjervin'><img src="{{ STATIC_URL }}/media/linkedin.png" height='40px' width='40px'></a>
			<a href='https://github.com/jervin82'><img src="{{ STATIC_URL }}/media/GitHub-Mark-120px-plus.png" height='40px' width='40px'></a>
		</div>
	{% endblock %}
	{% block nav %}
		<div id='nav'>
		<a href='/hellothere/'>Home</a>
		<a href="/projects/">Projects</a>
		<a href='/aboutme/'>About</a>
		</div>
	{% endblock %}
	{% block content %}
	{% endblock %}

</body>
</html>