{% extends 'base.html' %}

{% block title %} About Me{% endblock %}

{% block content %} 
<h1 style='font-size:60px;'>So who am I?</h1>
<div id='boutme'>
<p style="color:white;">A burgeoning coder? an advanced level Excel jockey? a princess-rescuing, beer drinking, amalgamation of Dallas and Austin? Yep. Hi, my name is Jason. Have a drink and let's do some coding</p>
</div>
<br>
<h1>Setup</h1>
<div id='setup'>
	Sublime Text 2<br>
	OSX Terminal<br>
	SQLITE 3<br>
	Django 1.6<br>
	Intel XDK<br>
	Mindnode<br>
	Pixelmator<br>
</div>
{% endblock %}